body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cartao {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h3 {
    color: #3b55d6;
}

.div1, .div2, .div3 {
    width: 50%;
    float: left;
    padding: 10px;
}


span {
    font-weight: bold;
}